.pink {
    color: pink;
    margin: 30px;
    padding: 10px;
    border: 1px solid pink;
    border-radius: 7px;
}

.goth {
    color: black;
    margin: 30px;
    padding: 10px;
    border: 3px dashed black;
    border-radius: 7px;
}