.black-box {
  width: 200px;
  height: 200px;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:3px;
  padding: 5px;

  span {
    color: #8f7f99;
  }

}
.button {
 // float: left;
  margin: 20px;
 // background-color: chartreuse;
  padding: 7px 20px;
}

.balloons {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  background-color: #9bffa8;
  margin: 20px;
  align-items: center;
}
.balloons:hover {
  cursor: pointer;
}
.text-design {
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  line-height: 30px;
  height: 30px;
  width: 200px;
  border: 1px solid black;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
}

.balloons {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  background-color: #fff59b;
  margin: 20px;
  position: relative;
  align-items: center;

  .text-design{
    text-align: center;
    width: 200px;
    height: 30px;
    padding: 0 20px;
    line-height: 30px;
    margin-left: 50px;
    margin-top: 40px;
    color:rgb(185, 22, 22);
    font-size: large;
  }
}
.content {
  display: inline-block;
  text-align: center;
}

.circle1 {
  margin: 20px;
  margin-top: 60px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  .hide {
    display: none;
  }
}

.field, 
.farm {
  width: 100%;
  box-sizing: border-box;
  div {
      background-color: lightgreen;
      margin: 20px 0;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      flex-wrap: wrap;
      .cow {
          height: 50px;
          width: 50px;
          border-radius: 50%;
          border: 4px dotted deeppink;
          margin: 10px;
      }
      .sheep {
          height: 50px;
          width: 50px;
          border: 4px dotted darkturquoise;
          margin: 10px;
      }
      .horse {
          transform: rotate(65deg);
          background-color: yellow;
          margin: 10px;
          width: 50px;
          height: 50px;
      }
  }
}

.buttons-holder {
  margin: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}