.black-box {
  width: 200px;
  height: 200px;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:3px;
  padding: 5px;

  span {
    color: #8f7f99;
  }

}
.button {
  float: left;
  margin: 20px;
  background-color: chartreuse;
}

button {
  padding: 7px 20px;
}
