.black-box {
  width: 200px;
  height: 200px;
  background: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:3px;
  padding: 5px;

  span {
    color: #8f7f99;
  }

}
.button {
  float: left;
  margin: 20px;
  background-color: chartreuse;
  padding: 7px 20px;
}

.balloons {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  background-color: #9bffa8;
  margin: 20px;
  align-items: center;
}
.balloons:hover {
  cursor: pointer;
}
.text {
  text-align: center;
  display: inline-block;
  padding: 0 20px;
  line-height: 30px;
  height: 30px;
  width: 200px;
  border: 1px solid black;
  border-radius: 30px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  background-color: #fff;
}
.content {
  display: inline-block;
  text-align: center;
}

.circle1 {
  margin: 20px;
  margin-top: 60px;
  width: 200px;
  height: 200px;
  border-radius: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  .hide {
    display: none;
  }
}

