* {
    box-sizing: border-box;
}

.zoo {
    background-color: steelblue;
    min-width: 100vw;
    min-height: 100vh;
    position: relative;
    &__list {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        padding: 10px;
        &__animal {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            padding: 5px;
            border: 3px solid ghostwhite;
            border-radius: 3px;
            width: 100%;
            max-width: 200px;
            min-width: 140px;
            box-sizing: border-box;
            margin: 10px;
            &__name {
                color: ghostwhite;
                font-size: 30px;
                text-align: center;
                padding: 0 0 0 0;
            }
            &__type {
                color: yellow;
                font-size: 20px;
                text-align: center;
                padding: 0 0 20px 0;
            }
            &__stats {
                display: flex;
                justify-content: flex-start;
                align-items: flex-start;
                flex-direction: column;
                color: paleturquoise;
                font-size: 16px;
                text-align: center;
                padding: 0 0 20px 0;
                width: 100%;
                span {
                    i {
                        font-size: 14px;
                        color: lightcoral;
                        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                    }
                }
            }
        }
    }
    &__form {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        background: paleturquoise;
        box-sizing: border-box;
        flex-wrap: wrap;
        padding-bottom: 5px;
        h2 {
            width: 100vw;
            margin-bottom: 0;
            text-align: center;
            font-size: 22px;
            color: lightcoral;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        }
        &__input {
            width: 50vw;
            margin: 10px 0;
            &__buttons {
                display: flex;
            }
            span {
                display: inline-block;
                width: 15%;
                padding: 0 0 0 20px;
                color: white;
                min-width: 70px;
            }
            input {
                border: none;
                outline: none;
            }
            button {
                margin-left: 15px;
            }
        }
    }
    &__modal {
        position: absolute;
        left: 10vw;
        // width: 90%;
        top: 0;
        background-color: paleturquoise;
        border: 3px solid white;
        box-shadow: 2px 2px 2px gray;
        .zoo__form__input {
            width: 40vw;
        }
        .zoo__form {
            width: 80vw;
        }
    }
}